
# Arquivos de build
build/
dist/

# Arquivos temporários
*.tmp
*.temp

# Arquivos específicos do editor
.vscode/
.idea/

# Arquivos de log
*.log
logs/

# Arquivos de backup
*~

# Arquivos de cache
*.cache
.cache/

# Arquivos de ambiente
.env
.env.local
.env.*.local
